html,
body,
h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

img {
    width: 24px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

form > div {
    display: flex;
    flex-direction: column;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.create-todo-container {
    justify-self: center;
    padding: 50px 0;
}

.create-project-container {
    justify-self: center;
    padding: 50px 0;
}

.projects-container {
    grid-column: 1 / 3; 
}

#container {
    margin-top: 20px;
}

.todos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 10px;
    justify-content: center;
}

.todo-container {
    width: 280px;
    border-radius: 10px;
    padding: 10px;
}

.todo-container[data-priority='low'] {
    background-color: green;
}

.todo-container[data-priority='medium'] {
    background-color: orange;
}

.todo-container[data-priority='high'] {
    background-color: red;
}

.todo-body {
    background-color: white;
    padding: 2px;
}